<template>
  <div class="container">
    <div class="count">{{ count }}</div>
  </div>
</template>

<script>
import UAParser from 'ua-parser-js'
export default {
  data: () => ({
    count: null,
  }),
  async fetch() {
    await fetch(`http:/nginx/v1/page-view/count`)
      .then(res => {
        return res.text()
      })
      .then(count => {
        this.count = count
      })
      .catch(e => this.count = e)
  },
  mounted() {
    const pageView = new UAParser().getResult()

    fetch('/v2/page-view', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(pageView)
    })
  }
}
</script>

<style>
.container {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 36px;

  color: #ffffff;

  background: #000000;
}
</style>
